<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="icon" href="/img/summer.png"></link>
    <title>About</title>
  </head>
  <body>
    <div class="main-content">
    {{>header}}
    <p>This site is created by Siddharth. It uses data from weatherStack.com and locationiq.com to determine the weather for a given location.</p>
    <img class="portrait" src="/img/mountain.jpg" />
    </div>
    {{>footer}}
  </body>
</html>
